body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  h2 {
    text-align: center;
    color: #e83e8c; /* Vibrant font color */
    font-weight: bold; /* Bold font weight */
    background-color: #f9f9f9; /* Light background color */
    padding: 10px;
  }
  .container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  form {
    margin-top: 20px;
  }
  label, input, select {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
  }
  input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
  }
  select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
  }
  button {
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00cc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #008800;
  }
  label {
    color: #ff6600; /* Vibrant font color */
    font-weight: bold; /* Bold font weight */
    background-color: #f9f9f9; /* Light background color */
    padding: 5px; /* Add some padding for visual separation */
  }
